@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



:root {
    font-size: 62.5%;
    --font-padrao:  "Poppins",'Bebas Neue', "Poppins", sans-serif;
    
    
  }


  * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao)
}

body{
    font-size: 1rem;
    background-image: url("../Images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: gray;
}

#container{
    transform: translateY(-30%);
    width: 90%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    }


.input_field{
    
    background: transparent;
    outline: none;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    margin-bottom: 15px;
    height: 2.5rem;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 7px 7px 5px -5px #0000004d;
    border: 1px solid grey

}

.input_field::placeholder{
    font-weight: bold;
}


.button{
    font-weight: bold;
    color: grey;
    background: transparent;
    width: 100%;
    max-width: 90px;
    padding: 8px;
    border-radius: 5px;
    transition-duration: 0.1s;
    box-shadow: 7px 7px 5px -5px #0000004d;
    cursor: pointer;
    border: 1px solid grey
}

.button:hover,.input_field:focus,.input_field:hover{
    
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(2px);

}